<body>
    <h2>Login-Form</h2><br><br>
    <form [formGroup]="login">
    Email:
    <input type="text" formControlName="email" style="margin-left: 30px"><br><br>
    Password:
    <input type="password" formControlName="password" style="margin-left: 12px"><br><br>
    <button (click)="open(login.value)" [routerLink]="['/dashboard']">save</button>
    <!-- <button type="button" (click)="loginn()">Login</button><br><br> 
    <p>Don't have an acc?<a style="color: red">Register Here</a></p> -->
    </form>
</body>



