tr,td,table,th{
    border : 1px solid black;
    border-collapse: collapse;
    text-align: center;
    width: 700px;
}
input{
    width: 500px;
    height: 30px;
    font-size: 15px;
}
input:hover{
    transition-delay: 0.2s;
    background-color: lightgray;
    color: black;
}
label{
    font-size: 20px;
}
button{
    width:100px;
    height: 35px;
    border-radius: 3px;
    background-color:rgb(6, 6, 34);
    color:white;
}
button:hover{
    background-color: azure;
    color:black;
    transition-delay: 0.2s;
}
a:hover{
     color:red;
}